@model demo1.Services.HolidayRequestViewModel;
@{
    ViewData["Title"] = "Home Page";
}


<div>
    <form>
        <div class="form-group row">
            <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">Requestor Name</label>
            <div class="col-sm-10">
                <input type="text" class="form-control form-control-sm" id="colFormLabelSm" placeholder="col-form-label-sm">
            </div>
            <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">Requestor Name</label>
            <div class="col-sm-10">
                <input type="text" class="form-control form-control-sm" id="colFormLabelSm" placeholder="col-form-label-sm">
            </div>
        </div>
    </form>
</div>
