@model demo1.Services.HolidayRequestViewModel;
@{
    ViewData["Title"] = "Home Page";
}


<div>
    <form method="POST" asp-controller="home" asp-action="InsertHolidayRequest">
        <div class="form-group row">

            <label class="col-sm-2 col-form-label col-form-label-sm">Requester Name</label>
            <div class="col-sm-10">
                
                @Html.TextBoxFor(m => m.RequesterName, new { @class = "form-control form-control-sm" })
                
            </div>
            <br />

            <label for="RStartDate" class="col-sm-2 col-form-label col-form-label-sm">Start Date</label>
            <div class="col-sm-10">
                @Html.TextBoxFor(m => m.StartDate, new { @class = "form-control form-control-sm", @type = "date" })
            </div>
            <br />

            <label for="REndDate" class="col-sm-2 col-form-label col-form-label-sm">End Date</label>
            <div class="col-sm-10">
                @Html.TextBoxFor(m => m.EndDate, new { @class = "form-control form-control-sm", @type = "date" })
            </div>
            <br />

            <label for="holidayType" class="col-sm-2 col-form-label col-form-label-sm">Holiday Type</label>
            <div class="col-sm-10">
                
                @Html.DropDownListFor(m => m.HolidayType,
                    new SelectList(
                        new List<SelectListItem>
                        {
                            new SelectListItem {Text = "Sickness", Value = "0"},
                            new SelectListItem {Text = "Maternity", Value = "1"},
                            new SelectListItem {Text = "AnnualLeave", Value = "2"},

                        },
                        "Value",
                        "Text"

                ),new { @class = "form-control form-control-sm" })
                                
            </div>
            <br />
        </div>
        <input class="btn btn-primary" type="submit" value="Submit" >

    </form>
</div>
