@model HomeIndexViewModel;

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Holidays Tracker Summary</h1>
    <br />
    <table class="table table-dark">
        <tr>
            <th>Requester</th>
            <th>TotalDays</th>
            <th>Remainingdays</th>
        </tr>
        @{ 
            foreach (var i in Model.holidayRequests)
            {
                <tr>
                    <td><a href="home/SpecificHolidayRequest?reqName=@i.RequesterName">@i.RequesterName</a></td>
                    <td>@i.TotalHolidays</td>
                    <td>@i.RemainingHolidays</td>
                </tr>
            }
        }
    </table>
</div>
