@model HomeIndexViewModel;

@{
    ViewData["Title"] = "Home Page";

}

@if (TempData["Message"] != null)
{
    <script type="text/javascript">
         alert("@TempData["Message"].ToString()");
    </script>


}


@if (Model.userHolidayRequests?.Any() == true)
{
    <div class="text-center">
        <h1 class="display-4">Holidays Tracker Summary</h1>
        <br />
        <table class="table table-dark">
            <tr>
                <th>TotalDays</th>
                <th>Remainingdays</th>
            </tr>
                    <tr>
                        <td>@Model.userHolidayRequests.FirstOrDefault().TotalHolidays</td>
                        <td>@Model.userHolidayRequests.FirstOrDefault().RemainingHolidays</td>
                    </tr>
    
        </table>
    </div>
}
else
{
    <h6 class="display-4" align="Center">No Holidays Taken</h6>
         
}