@model HomeIndexViewModel;

@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 class="display-4">Holidays Tracker Full History</h1>
    <br />
    <table class="table table-dark">
        <tr>
            <th>Requester</th>
            <th>StartDate</th>
            <th>EndDate</th>
            <th>Type</th>           
        </tr>
        @{
            foreach (var i in Model.holidayRequests)
            {
                <tr>
                    <td>@i.RequesterName</td>
                    <td>@i.StartDate.ToShortDateString()</td>
                    <td>@i.EndDate.ToShortDateString()</td>
                    <td>@i.HolidayType</td>                    
                </tr>
            }
        }
    </table>
</div>
